@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,700");
html, body {
	color: #0a0a0a;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.header-section{
	background-color: #303F9F;
	color: #fff;
}

.hero-unit {
  background: url("/assets/home-bg-2.svg") no-repeat center center;
  background-size: cover; }
.navbar-primary {
  position: absolute;
  width: 100%;
  background-color: transparent !important; }

.navbar-brand {
  color: #fff !important; }

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8); }
 
 

.bold-text {
  font-weight: 700; }

.slim-text {
  font-weight: 100; }

.text-container {
  color: #fff; }
 .bc-color{
 	color: black;
		 }
  .btn-border{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
}
.btn-border:hover{
  background: #fff;
  color: #000000;
}
